@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply leading-tighter;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* color */
  --light-grey: #e1dfdd;
  --black: #000000;

  /* spacing */
  --layout-horizontal-padding: 1.25rem;

  --section-vertical-padding: 6.5rem;

  /* font size */
  --title-xs: 1.25rem;
  --title-sm: 1.875rem;
  --title-base: 3rem;

  --paragraph-text: 1.25rem;
  --paragraph-text-lg: 1.75rem;

  /* height */
  --header-height: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (min-width: 1024px) {
  :root {
    --layout-horizontal-padding: 2.8rem;

    --title-xs: 1.75rem;
    --title-base: 5rem;
    --paragraph-text: 1.5rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --layout-horizontal-padding: 4.375rem;

    --title-sm: 2.5rem;
    --title-base: 6.5rem;
    --paragraph-text: 2rem;
  }
}

@media (min-width: 1536px) {
  :root {
    --title-base: 7.5rem;

    --paragraph-text-lg: 2.5rem;
  }
}

body {
  background-color: var(--light-grey);
  color: var(--black);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.shimmer-bg {
  background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}
